<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"/>
  <title> Eat Da Burger! </title>

  {{!-- CSS --}}
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {{!-- Font --}}
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet">
  {{!-- Custom --}}
	<link rel="stylesheet" href="/assets/css/burgerStyle.css" type="text/css" />
		
  {{!-- Scripts --}}
  {{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
  {{!-- Custom --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>