<div class="container">
  <h1> Eat Da Burger! </h1>
  <div class="row">
    {{!-- Menu --}}
    <div class="col-md-4" id="menu">
      Menu
    </div>

    {{!-- Plate --}}
    <div class="col-md-4" id="plate">
      Plate
    </div>

    {{!-- Stomach --}}
    <div class="col-md-4" id="stomach">
      Stomach
    </div>
  {{!-- Close Row --}}
  </div>

  {{!-- Footer --}}
  <footer class="footer">
    <div class="container text-center">
      <p><a href="/api/friends"> API Burger List </a> | <a href="https://github.com/LMBoyle/burger"> GitHub Repo </a> 
    </div>
  </footer>
  
{{!-- Close Container --}}
</div>