<div class="container">
  <h1> Eat Da Burger! </h1>
  <div class="row">
    {{!-- Menu --}}
    <div class="col-md-4 menuContain" id="menu">
      <img src="/assets/img/chalkboard.jpg" alt="chalkboard"/>

      <div class="menuText">
        <ul>
          <li> Burger </li>
        </ul>
      </div>
  {{!-- Close Menu --}}
    </div>

    {{!-- Plate --}}
    <div class="col-md-4 plateContain" id="plate">
      <img src="/assets/img/plate.png" alt="plate"/>

      <div class="burgers">
        <button class="burgerBtn"></button>
      </div>
  {{!-- Close Plate --}}
    </div>

    {{!-- Stomach --}}
    <div class="col-md-4" id="stomach">
      <img src="/assets/img/stomach.jpg" alt="stomach"/>
    </div>
  {{!-- Close Row --}}
  </div>

  {{!-- Footer --}}
  <footer class="footer">
    <div class="container text-center">
      <p><a href="/api/friends"> API Burger List </a> | <a href="https://github.com/LMBoyle/burger"> GitHub Repo </a> 
    </div>
  </footer>
  
{{!-- Close Container --}}
</div>