h1 {
  text-align: center;
}

body {
  background-color: #f8f7e3;
}

#menu,
#plate,
#stomach {
  background-color: transparent;
}


#plate img,
#stomach img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}